<div class="flex-container">
	<div class="bg p-4 w-100">
		<div class="d-flex justify-content-around flex-wrap cards-container">

			<div class="card bg-success div_card" id="office">
				<div class="card-body">
					<label>OFICINAS</label>
				</div>
			</div>

			<div class="card bg-primary div_card" id="employee">
				<div class="card-body">
					<label>EMPLEADOS</label>
				</div>
			</div>

			<div class="card bg-warning div_card" id="reservation">
				<div class="card-body">
					<label>RESERVAS</label>
				</div>
			</div>

			<div class="card bg-danger div_card" id="vehicle">
				<div class="card-body">
					<label>VEHICULO</label>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/js/general.js"></script>