<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto mt-5 ">
      <div class="card bg-success">
        <div class="card-body">
          <label class="text-white mb-2"><b>Salario total de todos los Empleados</b></label>
					<input type="text"
					readonly
					class="form-control"
					value="{{summary.totalSalary}}"
					>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/general.js"></script>