<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sistema de Reservas</title>
	    {{! GOOGLE FONTS }}
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap"
      rel="stylesheet"
    />
    {{! BOOTSRAP 5 }}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
		{{!-- FONT AWESOME ICONS --}}
		<script src="https://kit.fontawesome.com/e9e06328f7.js" crossorigin="anonymous"></script>
  </head>
	{{!-- STYLES --}}
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
	{{> navigation}}

	{{{body}}}

	<script src="/js/code.js"></script>
</body>
</html>